<div class="jumbotron-header"></div>
<div class="container">
  <div class="col-md-8">
    <h1>Travel made easy</h1>
    <h4>Choose or add a destination on the right...</h4>
    <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="icon-bus"></div>
        </div>
        <div class="col-sm-4">
          <div class="icon-passport"></div>
        </div>
        <div class="col-sm-4">
          <div class="icon-drink"></div>
        </div>
      </div>
      <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="jumbotron-plane"></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="plane-icon"></div>
      </div>
      <div class="col-sm-8">
        <h3>Ready to depart?</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="jumbotron-map"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div ng-view= ''></div>
  </div>
</div>