<!DOCTYPE html>
<html ng-app="germanyMap">
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', '//fonts.googleapis.com/css?family=Open+Sans', '//fonts.googleapis.com/css?family=Gentium+Book+Basic', '//fonts.googleapis.com/css?family=Vollkorn', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
